@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #222831;
    --cor-secundaria: #dfdbd6;
    --cor-terciaria: #948979;
    --cor-hover: #393E46;

    --fonte-primaria:krona One, sans-serif;
    --fonte-secundaria: Montserrat, sans-serif;
}


*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
    background-color: var(--cor-primaria);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    margin: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto {
    font-size: 1.6rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    padding-bottom: 3%;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.apresentacao__links__subtitulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.apresentacao__links__subtitulo__logoinstagram {
    width: 29px;
    height: 29px;
    margin-right: 8px;
    vertical-align: center;
    background-color: var(--cor-terciaria);
    border-radius: 8px;
}

.apresentacao__links__subtitulo__logogithub {
    width: 31px;
    height: 31px;
    margin-right: 8px;
    vertical-align: center;
    background-color: var(--cor-terciaria);
    border-radius: 8px;
}

.apresentacao__links__navegação {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border:var(--cor-terciaria) 4px solid;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__navegação:hover {
    background-color: var(--cor-hover);
    transition: 0.3s;
}

.file__foto__pedro {
    width: 40%;
    height: auto;
    border-radius: 16px;
}

.rodape {
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
    padding: 19px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 5%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 5%;
    }

    .apresentacao {
        flex-direction: column-reverse;
        gap: 40px;
        padding: 5%;
    } 

    .apresentacao__conteudo {
        width: auto;
        text-align: center;
    }
}